<div class="main-menu flex flex-col md:flex-row items-center justify-between px-4 py-4 gap-y-2">
  <div class="flex items-center">
    {{ if .Site.Params.Logo }}
      {{ $logo := resources.Get .Site.Params.Logo }}
      {{ if $logo }}
        <a href="{{ "" | relLangURL }}" class="flex items-center">
          <span class="sr-only">{{ .Site.Title }}</span>
          {{ if eq $logo.MediaType.SubType "svg" }}
            <span class="logo object-scale-down object-left nozoom">
              {{ $logo.Content | safeHTML }}
            </span>
          {{ else }}
            <img src="{{ $logo.RelPermalink }}" width="{{ div $logo.Width 2 }}" height="{{ div $logo.Height 2 }}"
              class="logo max-h-[4rem] max-w-[4rem] object-scale-down object-left nozoom" alt="{{ .Site.Title }}" />
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>

  <div class="text-xl font-bold text-center md:hidden block">{{ .Site.Title }}</div>

  <nav class="flex flex-wrap justify-center gap-x-4">
    {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="nav-item px-4 py-2 bg-blue-300 hover:bg-blue-400 text-white font-semibold rounded-full">{{ .Name }}</a>
      {{ end }}
    {{ end }}
  </nav>
</div>

{{ if .Site.Menus.subnavigation }}
  <div class="main-menu flex pb-3 flex-col items-end md:justify-start">
    <div class="hidden md:flex items-center space-x-5">
      {{ range .Site.Menus.subnavigation }}
        <a href="{{ .URL }}" {{ if or (strings.HasPrefix .URL "http:") (strings.HasPrefix .URL "https:") }} target="_blank" {{ end }} class="flex items-center">
          {{ if .Pre }}
            <span {{ if and .Pre .Name}} class="mr-1" {{ end }}>
              {{ partial "icon.html" .Pre }}
            </span>
          {{ end }}
          <p class="text-xs font-light text-gray-500 hover:text-gray-900" title="{{ .Title }}">
            {{ .Name | markdownify }}
          </p>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
