<div class="main-menu flex flex-col md:flex-row items-center justify-between px-4 py-4 gap-y-2">
  <div class="flex items-center">
    {{ if .Site.Params.Logo }}
      {{ $logo := resources.Get .Site.Params.Logo }}
      {{ if $logo }}
        <a href="{{ "/" | relLangURL }}" class="flex items-center">
          <span class="sr-only">{{ .Site.Title }}</span>
          {{ if eq $logo.MediaType.SubType "svg" }}
            <span class="logo object-scale-down object-left nozoom">
              {{ $logo.Content | safeHTML }}
            </span>
          {{ else }}
            <img src="{{ $logo.RelPermalink }}" width="{{ div $logo.Width 2 }}" height="{{ div $logo.Height 2 }}"
              class="logo max-h-[4rem] max-w-[4rem] object-scale-down object-left nozoom" alt="{{ .Site.Title }}" />
          {{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>

  <nav class="flex flex-wrap justify-center gap-x-4">
    {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL | relLangURL }}" class="nav-item px-4 py-2 bg-blue-300 hover:bg-blue-400 text-white font-semibold rounded-full">
          {{ .Name }}
        </a>
      {{ end }}
    {{ end }}
  </nav>
</div>
